html {
    background: #172632;
}

.group-1 {
    position: absolute;
    width: 27px;
    height: 20.25px;
    left: 282px;
    top: 76px;
}

.header-name {
    position: absolute;
    width: 106px;
    height: 32px;
    left: 310px;
    top: 72px;

    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #FBC901;

}

.header-button-home {
    
    position: absolute;
    width: 60px;
    height: 25px;
    left: 1131px;
    top: 77px;

    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;



    color: #FBC901;

}

.header-button-about {
    position: absolute;
    width: 55px;
    height: 25px;
    left: 1221px;
    top: 77px;

    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;



    color: #FBC901;

}

.header-button-services {
    position: absolute;
    width: 70px;
    height: 25px;
    left: 1304px;
    top: 77px;

    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;


    color: #FBC901;

}

.header-button-contact {
    position: absolute;
    width: 68px;
    height: 25px;
    left: 1394px;
    top: 77px;

    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;


    color: #FBC901;

}

.eclipse1 {
    position: absolute;
    width: 117px;
    height: 117px;
    left: 868px;
    top: 206px;

    background: #FBC901;
    box-shadow: 0px 8px 32px rgba(251, 201, 1, 0.3), inset -16px -16px 32px #D3A902, inset 16px 16px 32px rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}

.eclipse2 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 848px;
    top: 221px;
    border-radius: 50px;

    background: #F9D543;
}

.eclipse3 {
    border-radius: 100px;
    position: absolute;
    width: 29px;
    height: 29px;
    left: 848px;
    top: 275px;

    background: #F4C301;
}

.eclipse4 {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 910px;
    top: 232px;

    background: #D0A701;
    border-radius: 100px;
}

.eclipse5 {
    border-radius: 100px;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 925px;
    top: 261px;

    background: #D5AB01;
}
.eclipse6 {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 895px;
    top: 266px;

    background: #D0A701;
    border-radius: 100px;
}

.eclipse7 {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 887px;
    top: 282px;

    background: #DAAF01;
    border-radius: 100px;
}

.h1-text {
    position: absolute;
width: 659px;
height: 378px;
left: 261px;
top: 304px;

font-family: 'Garamond';
font-style: normal;
font-weight: 700;
font-size: 112px;
line-height: 126px;

color: #FBC901;
}

.h2-text {
    position: absolute;
width: 529px;
height: 96px;
left: 263px;
top: 704px;

font-family: 'Garamond';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 133.5%;
/* or 32px */


color: #FBC901;
}

.download-app {
    position: absolute;
width: 240px;
height: 60px;
left: 263px;
top: 862px;

background: #FBC901;
box-shadow: inset -4px -4px 8px #D3A902, inset 4px 4px 8px rgba(255, 255, 255, 0.5);
border-radius: 4px;
}

.learn-more {
    box-sizing: border-box;

position: absolute;
width: 205px;
height: 60px;
left: 520px;
top: 862px;

border: 2px solid #FBC901;
border-radius: 2px;
}

.download-app-text {
    
position: absolute;
width: 156px;
height: 28px;
left: 42px;
top: 13px;

font-family: 'Garamond';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 28px;

color: #15232D;
}

.learn-more-text {
    position: absolute;
width: 126px;
height: 28px;
left: 42px;
top: 13px;

font-family: 'Garamond';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 28px;

color: #FBC901;
}

.rectangle-shadow {
    position: absolute;
width: 53px;
height: 592px;
left: 5px;
top: 330px;

background: linear-gradient(270deg, rgba(251, 201, 1, 0) 0%, rgba(251, 201, 1, 0.15) 96.18%);
}

.rectangle {
    position: absolute;
width: 5px;
height: 592px;
left: 0px;
top: 330px;

background: #FBC901;
}

.most-big-star {
    position: absolute;
    height: 120px;
    width: 120px;
    left: 836px;
    top: 983px;
    
}

.big-star {
    position: absolute;
    width: 72px;
    height: 74px;
    left: 929px;
    top: 946px;
    
    
}

.small-star {
    position: absolute;
    height: 46px;
width: 46px;
left: 942px;
top: 1060px;
border-radius: 2px;

}

.late {
    position: absolute;
width: 600px;
height: 624px;
left: 1017px;
top: 341px;
}

.download-app:hover {
    background-color: #ffe373;
    cursor:pointer;
    
}

.download-app:hover .download-app-text {
    color:  #020e16;
    
}

.learn-more:hover {
    background-color: #FBC901;
    cursor:pointer;
}

.learn-more:hover .learn-more-text {
    color: black;

}